<html>
<head>
    <meta charset="UTF-8">
    <title>Confirmacion de cuenta</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <style>
        body {
            box-sizing: border-box;
            background-color: #ededed;
            color: #47525e;
            font-family: Lato;
        }

        #main {
            height: 100vh;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .container {
            background-color: #ffffff;
            width: 40%;
            height: 450px;
            padding: 10px;
            border: 1px solid #bdbdbd;
            display: flex;
            flex-direction: column;
        }

        #title {
            text-align: center;
            margin: -20px 0;
        }

        #subject {
            margin-top: -10px;
            text-align: center;
            display: inline-block;
            vertical-align: top;
        }

        .row {
            margin: 30px 0;
            display: flex;
            justify-content: center;
        }

        .message {
            padding: 15px;
            align-items: center;
        }

        .button {
            text-decoration: none;
            background: #0275d8;
            color: #ffffff;
            display: inline-block;
            margin-bottom: 0;
            font-weight: 400;
            text-align: center;
            white-space: nowrap;
            vertical-align: middle;
            -ms-touch-action: manipulation;
            touch-action: manipulation;
            cursor: pointer;
            background-image: none;
            border: 1px solid transparent;
            padding: 10px 30px;
            font-size: 16px;
            line-height: 1.42857143;
            border-radius: 4px;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        h1 {
            font-weight: bold;
            font-size: 40px;
        }

        h2 {
            font-weight: bold;
            font-size: 30px;
        }

        @media (max-width: 1024px) {
            .container {
                width: 60%;
            }
        }

        @media (max-width: 768px) {
            .container {
                width: 80%;
            }
        }

        @media (max-width: 600px) {
            .container {
                width: 100%;
            }
        }
    </style>
</head>
<body>
<div id="main">
    <div class="container">
        <div id="title">
            <h1>LagunaLink</h1>
        </div>
        <div id="subject">
            <h2>Bienvenido</h2>
        </div>
        <div class="row message">
            <p>Haz click en el boton de abajo para confirmar tu direccion de correo y continuar con el registro de tu cuenta.</p>
        </div>
        <div class="row">
            <a href="{{uriPath}}" class="button">Confirmar mi cuenta</a>
        </div>
    </div>
</div>
</body>
</html>
